[submodule "cardano-ledger-specs"]
	path = cardano-ledger-specs
	url = https://github.com/nhenin/cardano-ledger-specs.git
	branch = v2-minutxo
[submodule "cardano-api"]
	path = cardano-api
	url = https://github.com/IntersectMBO/cardano-api.git
	branch = master
[submodule "cardano-cli"]
	path = cardano-cli
	url = https://github.com/IntersectMBO/cardano-cli.git
	branch = main
[submodule "cardano-wallet"]
	path = cardano-wallet
	url = https://github.com/cardano-foundation/cardano-wallet.git
	branch = master
[submodule "cardano-balance-transaction"]
	path = cardano-balance-transaction
	url = https://github.com/cardano-foundation/cardano-balance-transaction.git
	branch = main
